<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adatafun.datascreen.mapper.OrderServiceMapper">
  <resultMap id="BaseResultMap" type="com.adatafun.datascreen.model.OrderService">
    <id column="order_service_id" jdbcType="BIGINT" property="orderServiceId" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="service_detail" jdbcType="VARCHAR" property="serviceDetail" />
    <result column="price_rule" jdbcType="CHAR" property="priceRule" />
    <result column="is_deleted" jdbcType="SMALLINT" property="isDeleted" />
    <result column="airport_code" jdbcType="VARCHAR" property="airportCode" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="BIGINT" property="createUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="BIGINT" property="updateUser" />
    <result column="servId" jdbcType="BIGINT" property="servId" />
    <result column="serverNum" jdbcType="BIGINT" property="serverNum" />
    <result column="serviceId" jdbcType="BIGINT" property="serviceId" />
    <result column="serviceName" jdbcType="VARCHAR" property="serviceName" />
    <result column="serviceDetailId" jdbcType="BIGINT" property="serviceDetailId" />
    <result column="serviceDetailName" jdbcType="VARCHAR" property="serviceDetailName" />
  </resultMap>
  <select id="getServiceDetail" parameterType="map" resultType="map">
    select t.serviceDetailName, t.serverNum, (case when y.serverNum is null then 0 else y.serverNum end) as yserverNum from
    (
    SELECT os.service_detail->>'$.serviceDetailName' AS serviceDetailName,
    sum(os.service_detail->'$.serverNum') AS serverNum FROM order_service os
    LEFT JOIN order_info oi ON oi.order_id = os.order_id
    WHERE (os.service_detail->>'$.serviceDetailName' is not null and os.service_detail->>'$.serviceDetailName' != '')
    AND (os.service_detail->'$.serverNum' is not NULL and os.service_detail->'$.serverNum' != '')
    AND  oi.order_status not like '%取消'
    AND (to_days(oi.server_complete_time) = to_days(now()))
    group by os.service_detail->>'$.serviceDetailName'
    ORDER BY sum(os.service_detail->'$.serverNum') DESC
    ) t
    left join
    (
    SELECT os.service_detail->>'$.serviceDetailName' AS serviceDetailName,
    sum(os.service_detail->'$.serverNum') AS serverNum FROM order_service os
    LEFT JOIN order_info oi ON oi.order_id = os.order_id
    WHERE (os.service_detail->>'$.serviceDetailName' is not null and os.service_detail->>'$.serviceDetailName' != '')
    AND (os.service_detail->'$.serverNum' is not NULL and os.service_detail->'$.serverNum' != '')
    AND  oi.order_status not like '%取消'
    AND (TO_DAYS(oi.server_complete_time) - TO_DAYS( NOW( ) ) >= -1)
    group by os.service_detail->>'$.serviceDetailName'
    ORDER BY sum(os.service_detail->'$.serverNum') DESC

    ) y
    on
    t.serviceDetailName = y.serviceDetailName
  </select>
</mapper>